<!DOCTYPE html>

<html>
<title>IMS</title>

<head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="/assets/css/style.css"> -->
  
</head>



  <div>
    

    <%- include ('layouts/header.ejs') -%>
      <%- include ('layouts/nav.ejs') -%>

<center>
    <div class="container2">
        <h4 class="text-center ">MY Profile</h4>
        <form class="form-card" action="" method="post"  id="form1" >

           
            
                <div class="row justify-content-center ">
                    <div class="form-group col-md-6"> <label class="form-control-label "><b>User ID: </b><span id="userId"></span></label>
               </div>
               </div>
               

                      <div class=" row justify-content-center ">
                    <div class="form-group col-md-6"> <label class="form-control-label ">Old Password <span class="text-danger"> *</span></label><input type="password" id="oldPassword" name="oldPassword"   onblur="validate(1)"> </div>
                    </div>
                    <div class="row justify-content-center ">
                      <div class="form-group col-md-6"> <label class="form-control-label ">New Password <span class="text-danger"> *</span></label><input type="password" id="newPassword" name="newPassword" onblur="validate(2)"> </div>
                      </div>
                   
            
                  
            
       
            <div class=" row justify-content-center ">
                <div class="form-group col-sm-6"> <button type="submit" class="btn-block btn-primary ">Change Password&nbsp;&nbsp;<i class="fa fa-database "></i></button> </div>
            </div>
        </form>
    </div>
    </center>
  </div>

  <script>
    let user1=JSON.parse(localStorage.getItem("user"));

(function() {
  document.getElementById("userId").innerHTML =user1.userId
  var id = parseInt(user1.id);
    var strLink = "/ims/changepassword" + id;
    document.getElementById("form1").setAttribute("action",strLink);
})();
function validate(val) {
v1 = document.getElementById("oldPassword");
v2 = document.getElementById("newPassword");


flag1 = true;
flag2 = true;


if(val==1 || val==0) {
if(v1.value == "") {
v1.style.borderColor = "red";
flag1 = false;
}
else {
v1.style.borderColor = "green";
flag1 = true;
}
}

if(val==2 || val==0) {
if(v2.value == "") {
v2.style.borderColor = "red";
flag2 = false;
}
else {
v2.style.borderColor = "green";
flag2 = true;
}
}




flag = flag1 && flag2 ;

return flag;
}


  </script>
  </html>
