<!DOCTYPE html>

<html>
<title>IMS</title>

<head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../assets/css/style.css">
</head>


<body >
  <div>
    <img src="../assets/images/bg.jpeg">

    <%- include ('layouts/header.ejs') -%>
      <%- include ('layouts/nav.ejs') -%>

      <center>
    <div class="container2">
      

        <h4 class="text-center ">MY Profile</h4>
        <center>
          <div class="row col-md-8  ">
         <label><b>Full Name :</b></label>&nbsp;<label><span id="name"></span></label>
         </div>
         <div class="row col-md-8 ">
         <label><b>UserId :</b></label>&nbsp;<label><span id="userId"></span></label>
        </div>
        <div class="row col-md-8 ">
         <label><b>Branch :</b></label>&nbsp;<label><span id="branch"></span></label>
        </div>
        <div class="row col-md-8 ">
         <label><b>Role :</b></label>&nbsp;<label><span id="type"></span></label>
         </div>
         <div class="row col-md-8 ">
         <label><b>Email :</b></label>&nbsp;<label><span id="email"></span></label>
         </div>
         <div class="row col-md-8 ">
         <label><b>Phone Number :</b></label>&nbsp;<label><span id="phoneNo"></span></label>
            </div>
            <div class=" row justify-content-center ">
                <a href=""> <button type="submit" class="btn-block btn-primary ">Edit Profile&nbsp;&nbsp<i class="fas fa-edit fa-lg" aria-hidden="true"></i></button></a>&nbsp;
                    
                 </div>
   
       
    </center>
          </div> 
        </center>

 
  </div>
  <script>
   
    let user1=JSON.parse(localStorage.getItem("user"));
   
  
      //  document.getElementById("id").innerHTML =user1.id
       document.getElementById("name").innerHTML =user1.name
       document.getElementById("userId").innerHTML =user1.userId
       document.getElementById("branch").innerHTML =user1.branch
       document.getElementById("email").innerHTML =user1.email
       document.getElementById("type").innerHTML =user1.type
       document.getElementById("phoneNo").innerHTML =user1.phoneNo


    
    
  </script>
  </body>

  </html>
